{
  "env": {
    "development": {
      "presets": [
        ["env", { "targets": { "node": "current" }}],
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        ["env", { "targets": { "node": "current" }}],
        "stage-0"
      ]
    },
    "test": {
      "presets": ["env", "stage-0"]
    }
  }
}
